<h1><%= @office.name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_office_appointment_path(@office) %>
<hr />

<h2>Doctor</h2>
<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <%= doctor.user.full_name %>
      <br />
      <%= link_to 'Remove', office_appointment_path(@office, doctor), method: :delete %>
    </li>
  <% end %>
</ul>
<h2>Nurse</h2>
<ul>
  <% @nurses.each do |nurse| %>
    <li>
      <%= nurse.user.full_name %>
      <br />
      <%= link_to 'Remove', office_appointment_path(@office, nurse), method: :delete %>
    </li>
 <% end %>
</ul>
<h2>Patient</h2>
<ul>
  <% @patients.each do |patient| %>
    <li>
      <%= patient.user.full_name %>
      <br />
      <%= link_to 'Remove', office_appointment_path(@office, patient), method: :delete %>
   </li>
 <% end %>
</ul>